/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

main {
  overflow-x: hidden;
  width: 100%;
  // width: calc(100vw - 275px);
  // height: calc(100%);
}

// ------------------------  DIVIDER  Scroll --------------------------------------
::-webkit-scrollbar {
  width: 7.5px; // default 5px
  height: 7.5px;
  background-color: #ddd;
}

::-webkit-scrollbar-thumb {
  background: #613654;
  border-radius: 10px;
}

::selection {
  color: #fff;
  background: #1890ff;
}
