aside {
  position: relative;
  width: 250px;
  height: 100vh;
  // color: white;
  // background: #1e293b;
  background-color: #e9ecf1;
  transition: width 0.3s ease;
  overflow-x: hidden;
  overflow-y: auto;

  &.closed {
    width: 0;
  }

  ul {
    list-style: none;
    padding: 0;
    li {
      cursor: pointer;
      .tree-node {
        padding: 0;
      }
      .directory-node {
        display: flex;
        gap: 5px;
      }
      .file-node {
        display: flex;
        gap: 5px;
      }
      .node {
        padding: 5px;
        padding-left: 20px;
        &:hover {
          background-color: rgba(106, 106, 230, 0.7);
          color: #fff;
          img {
            filter: invert(0);
          }
        }
        &.active {
          background-color: rgb(106, 106, 230);
          color: #fff;
          img {
            filter: invert(0);
          }
        }
      }
      a {
        color: white;
        text-decoration: none;
      }
    }
  }

  img {
    filter: invert(0.7);
  }

  .text-trim {
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 80%;
    overflow: hidden;
  }
}
